body.fuck-me {
    visibility: hidden !important;
    overflow: hidden !important;
}

video.fuck {
    visibility: visible !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: black !important;
    z-index: 9999999 !important;
    object-fit: contain !important;
}